
@import '../../style/variables.scss';

.likely-terms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $gray-6;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    
    .single-term {
        margin-right: 3px;
    }
    .likely {
        color: $text-accent;
        font-weight: 800;
    }
}
