@import '../../style/variables.scss';
@import '../../containers/dplan/dplan.scss';

$header-size: 18px;
// $active-height: calc(#{$content-height} * 0.8);
// $inactive-height: calc(#{$content-height} * 0.01);

$active-height: 500px;
$inactive-height: 50px;

.sidebar {
    display: flex;
    flex-direction: column;
    height: $content-height;

    .pane {
        background: #ECF3FF;
        color:#574966;
        width: 303px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;
        padding: 0 20px 0 20px;
        background: $background;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24);
        font-weight: normal;

        height: $inactive-height;
        overflow: hidden;
        transition: all 500ms ease-in-out;

        .pane-header {
            line-height: $inactive-height;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &.active {
            height: $active-height;
        }
    }
}
