@import '../../style/variables.scss';
@import '../../containers/dplan/dplan.scss';

$header-size: 18px;
$active-height: 500px;
$inactive-height: 50px;

.sidebar {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;

    .pane {
        background:$white;
        color: $text-accent;
        width: $sidebar-width;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 36px;
        border-radius: 6px;
        // padding: 0 20px 0 20px;
        box-shadow: $tablet-box-shadow;
        font-weight: normal;

        height: $inactive-height;
        overflow: hidden;
        transition: all 500ms ease-in-out;

        .pane-header {
            padding: 0 20px 0 20px;
            &:hover {
                cursor: pointer;
            }
            line-height: $inactive-height;
            margin: 0;
            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: $inactive-height;
        }

        &.active {
            height: $active-height;
            padding: 0 0 0 0;
        }

        .pane-content {
            padding: 0px 20px 10px 20px;
            width: 100%;
            overflow: auto;
        }

        .paneCourse {
            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            justify-content: space-between;
            align-items: center;
        }
    }
}
