@import '../../style/variables.scss';

.remove {
  display:flex;
  width:9px;
  height:10px;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  .profile-left {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .info {
      width:100%;
      display: flex;
      flex-direction: row;
      margin: 10px;
      background: none;

      .label {
        flex:1;
        color: $text-accent;
        font-size: 18px;
      }
  
      .data {
        display: flex;
        margin: 0 20px 0 20px;
        flex-direction: column;
        align-self: center;
        overflow: visible;

        input {
          background: none;
          font-size: 18px;
          border-bottom: 1px solid $text-accent !important;
        }
      }

      img {
        width: 18px;
        cursor: pointer;
        padding: 2px;
        height: 18px;
        align-self: center;
        &:hover {
          animation: pulse 1s infinite;
          filter: brightness(90%);
        }
      }
    }

    input {
      max-width: 200px;
    }

    .verify-button {
      margin-top: 10px;
      background: none;

      border: solid;
      border-color: $text-accent;
      border-width: 2px;
      height: 2.4em;

      padding: 5px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      cursor: pointer;

      &.sent {
        border-color: $blue-primary;
      }

      .button-text {
          font-family: $poppins;
          font-weight: 500;
          font-size: 14px;
          color: $text-accent;
          // background: linear-gradient(to right, #5797FD, #8901FB);
          background-clip: text;
          // text-transform: uppercase;

          &.sent {
            color: $blue-primary;
          }
      }

      &:hover {
          filter: brightness(150%); 
      }
      &:active {
          background: $purple-light;
          border: 1px $text-accent solid;
          .button-text {
              color: $text-accent;
          }
      }
    }
  }

  .profile-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .placements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .placements-label {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 20px;
        color: $text-accent;
        text-align: left;
      }
    }
  }

  .signout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple-light;
    background: $text-accent;
    font-size: 18px;
    font-weight: 700;
    width: 40px;
    height: 24x;

    &:hover {
      filter: brightness(140%);
    }
  }
}
