@import '../../style/variables.scss';

.remove {
  display:flex;
  width:9px;
  height:10px;
}

.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .info {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background:none;

    .label {
      display: flex;
      flex: 1;
      text-align: right;
      flex-direction: column;
      margin-right: 20px;

      .sub_label {
        font-size:10px;
        &.warning{
          color:red;
        }
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      align-self: center;
      flex: 1;
    }
  }

  .signout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple-light;
    background: $text-accent;
    font-size: 18px;
    font-weight: 700;
    width: 40px;
    height: 24x;

    &:hover {
      filter: brightness(140%);
    }
  }
}
