@import '../../style/variables.scss';

.course {
    background-color: $white;
    margin-bottom: 5px;
    padding: 0 6px 0 6px;
    color: $black;
    border-radius: 3px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    // border-radius: 2px;
    // box-shadow: $box-shadow-default;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 30px;

    &.bg {
      width: 203px;
    }
    &.sm {
      width: 181px;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(95%);
    }
}

.title-box {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}

.list-group-item-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-left {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.spacer {
    margin-left: 5px;
    padding-left: 5px;
    border-left-style: solid;
    border-width: 1px;
    height: 15px;
}

.course-right {
    font-size: 10px;
    text-align: start;
    line-height: 100%;
    overflow-x:hidden;
}
