@import '../../style/variables.scss';

$course-border-radius: 5px;
$course-height: 30px;
$course-width-xlarge: 250px; // This needs a more precise number, need Zirui to look
$course-width-large: 203px;
$course-width-small: 181px;


.course {
    background-color: $white;
    padding: 0 6px 0 6px;
    color: $text-accent;
    border-radius: $course-border-radius;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    // border-radius: 2px;
    // box-shadow: $box-shadow-default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: $course-height;

    &.xl{
      width:$course-width-xlarge;
    }
    &.bg {
      width: $course-width-large;
    }
    &.sm {
      width: $course-width-small;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(95%);
        animation: jump 0.1s ease-in-out;
    }

    &.error {
      color: $error !important;
    }

    &.warning {
      color: $warning !important;
    }
}

.list-group-item-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


