#title{
  font-family: Poppins;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 48px;

color: #574966;
}

#saveButton {
  background: linear-gradient(108.51deg, #5797FD -4.85%, rgba(255, 255, 255, 0) 112.35%), #8A33F8;
  box-shadow: 0px 6px 12px rgba(153, 153, 153, 0.25);
  border-radius: 32px;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#saveButton p {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 18px;
text-align: center;
margin-top: 12px;
color: #FFFFFF;
}

#saveButton:hover {
  cursor: pointer;
  filter: brightness(90%);
}
