img {
  image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: pixelated;
   image-rendering: crisp-edges;
}

#navItem:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.active > p {
    background-image: linear-gradient(to right, #FFFFFF, #8901FB);
    color: rgba(58, 132, 255, 0.5);
    background-clip: text;
}

.nav-link {
    color: #574966;
    line-height: inherit;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;

    p {
        margin: 0;
    }
}
