.term {
  background: #518FF5;
  border-radius: 2px;
  height: 160px;
  margin: 10px;

  &.offterm {
    background: #ECF3FF;
    border-radius: 2px;
  }
}

  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .offterm-toggle {
    > .toggle-button {
      margin: 0 3px;
      color: #AAAAAA;
    }

    .active {
      color: #FFFFFF;
    }
  }

  .offterm-toggle:hover {
    cursor: pointer;
  }
