@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

// global height specifications
$nav-height: 84px;

$menu-width-closed: 68px;
$menu-width-open: 250px;
$sidebar-width: 303px;

// fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors -new:
$blue-primary: #518FF5;
$purple-primary: #8901FB;
$purple-light: #FDFCFF;
$purple-light-10: rgba(253, 252, 255, 0.1);
$purple-secondary: #733DF9;
$text-accent: #574966;
$orange: #FEAF01;
$red: #FF5273;
$yellow: #F1DD31;
$error: #FF0031;
$warning: #FF6700;
$success: #18E020;
$gray-1: #F8F8F8;
$gray-2: #EBECED;
$gray-3: #E8E8E8;
$gray-5: #D8D5D5;
$gray-6: #838484;

$gradient: linear-gradient(215.91deg, #518FF5 -11.34%, rgba(255, 255, 255, 0) 81.43%), #733DF9;

// colors -old (we're not removing because of possible dependencies:

$background: #F7F7F7;
$white: #FFFFFF;
$black: #000000;

// box shadows:
$box-shadow-default: 0px 4px 12px rgba(0, 0, 0, 0.15);
$box-shadow-button: 0px 6px 12px rgba(153, 153, 153, 0.25);
$tablet-box-shadow: -3px 5px 20px rgba(0, 0, 0, 0.15);

// animations
@keyframes shake {
    0% { transform: translate(0.3px, 0.3px) rotate(0deg); }
    10% { transform: translate(-0.3px, -0.6px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 0.6px) rotate(0deg); }
    40% { transform: translate(0.3px, -0.3px) rotate(1deg); }
    50% { transform: translate(-0.3px, 0.6px) rotate(-1deg); }
    60% { transform: translate(-3px, 0.3px) rotate(0deg); }
    70% { transform: translate(3px, 0.3px) rotate(-1deg); }
    80% { transform: translate(-0.3px, -0.3px) rotate(1deg); }
    90% { transform: translate(0.3px, 0.6px) rotate(0deg); }
    100% { transform: translate(0.3px, -0.6px) rotate(-1deg); }
}
@keyframes jump {
    75% { transform: translate(0, -2px); }
    100% { transform: translate(0, 2px); }
}

@keyframes pulse {
  from { transform: scale(1); }
  75% { transform: scale(0.98); }
  to { transform: scale(1); }
}

#course-spacer-large {
    height: 10px;
    width: 100%;
}
#course-spacer-small {
    height: 5px;
    width: 100%;
}