@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

// global height specifications
$nav-height: 84px;

// fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors:
$purple: #574966;
$blue-primary: #518FF5;
$blue-secondary: #ECF3FF;
$background: #F8F8F8;
$border: #D8D5D5;
$white: #FFFFFF;
$warning: #FF3300$warning: #FF3300
