@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

// global height specifications
$nav-height: 84px;

// fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors -new:
$blue-primary: #518FF5;
$purple-primary: #8901FB;
$purple-secondary: #733DF9;
$text-accent: #574966;
$orange: #FEAF01;
$red: #FF5273;
$yellow: #F1DD31;
$error: #FF0031;
$success: #18E020;
$gray-1: #F8F8F8;
$gray-5: #D8D5D5;
$gray-6: #838484;

// colors -old (we're not removing because of possible dependencies:

$background: #F8F8F8;
$border: #D8D5D5;
$white: #FFFFFF;
$med-grey: #848484;
$black: #000000;

// box shadows:
$box-shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-button: 0px 6px 12px rgba(153, 153, 153, 0.25);
