@import '../../style/variables.scss';
@import '../../components/draggableCourse/draggableCourse.scss';

$term-border-radius: 6px;
$term-padding: 15px;
$term-width-13: 238px;
$term-height-13: 205px;
$term-height-13-4: 235px;
$term-margin: 0 15px 15px 0;


.term {
    border-radius: $term-border-radius;
    margin: $term-margin;
    padding-right: $term-padding;
    padding-left: $term-padding;
    width: $term-width-13;
    height: $term-height-13;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: $tablet-box-shadow;
    position: relative; // this is to position the .accent bar, since that is position: absolute
    &.on {
        background: $white;
    }
    &.off {
        background: $background;
        .accent {
            background: $gray-6 !important; // the reason for this !important is to override the default .term settings
        }
    }
    &.past {
        background: $background;
        border: 1px dashed $blue-primary;
        box-shadow: none !important; // the reason for this !important is to override the default .term settings
        .accent {
            display: none; // if the term is a past term, don't show the accent bar
        }
    }
    &.fourCourses {
        height: $term-height-13-4;
    }
    .header {
        $term-name-font-size: 24px;
        $term-header-min-height-13: 52px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: $term-header-min-height-13;

        .term-name {
            font-family: $roboto;
            font-size: $term-name-font-size;
            &.on {
                color: $blue-primary;
            }
            &.off {
                color: $gray-6;
            }
            &.past {
                color: $blue-primary;
            }
            
        }
        .toggle-button {
            background: $white;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 12px;
            width: 30px;
            height: 22px;
            &.on {
                border: 0.5px solid $blue-primary;
                color: $blue-primary;
                &:hover {
                    cursor: pointer;
                    background: $blue-primary;
                    color: $white;
                }
            }
            &.off {
                width: 34px;
                background: $background;
                border: 0.5px solid $gray-6;
                color: $gray-6;
                &:hover {
                    cursor: pointer;
                    background: $gray-6;
                    color: $background;
                }
            }
            &.past {
                background: $background !important;
                color: $blue-primary;
                &:hover {
                    cursor: pointer;
                    background: $blue-primary;
                    color: $white;
                }
            }

        }
    }

    .term-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        .course-row {
            display: flex;
            align-items: center;

            .phantom-course {
                background: $gray-2;
                border-radius: $course-border-radius;
                width: $course-width-large;
                height: $course-height;
                animation: pulse 0.5s infinite;
                text-align: center;
                

                &.error{
                    border: $error 1px solid !important;
                }
                &.warning, &.unlikely{
                    border: $warning 1px solid !important;
                }

                &.likely {
                    border: $success 1px solid;
                }
            }
        
            .hourSelector {
                select {
                    color: $blue-primary;
                }
            }
        
        }


        &.no-content {
            &.on {
                color: $blue-primary;
            }
            &.off {
                text-align: center;
                justify-content: flex-start;
                align-items: center;
                color: $gray-6;
                position: relative;
                top: 45px;
                padding: 0 37px 0 37px;
            }
            &.past {
                text-align: center;
                justify-content: flex-start;
                align-items: center;
                color: $blue-primary;
                position: relative;
                top: 45px;
                padding: 0 37px 0 37px;
            }
        }
    }
    .accent {
        position: absolute;
        width: 100%;
        margin-left: -$term-padding;
        height: 6px;
        border-radius: 0px 0px 6px 6px;
        background: $blue-primary;
        bottom: 0;
    }

}


