@import '../sidebar.scss';

.bookmarks {    
    &.active .bookmarks-header {
        font-weight: bold;
    }

    .pane-header {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .pane-title {
            align-self: flex-start;
            font-size: $header-size;
            margin: 0;
            font-weight: 600;
        }
    }

    .bookmarked-courses-list {
        margin-top: 20px;
        width: 100%;
    } 
}