@import '../../style/variables.scss';

.new-plan-content {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;

    .description {
        font-size: 12px;
        margin-top: 10px;
        color: $text-accent;
    }

    .warning {
        margin-top: 10px;
        font-size: 12px;
        color: $error;
        margin-bottom: 10px;

    }
}