@import '../../style/variables.scss';


.menu {
  width: $menu-width-closed;
  background: $text-accent;
  color: $white;
  transition: all 200ms ease-in-out !important; // we want this faster
  padding: 0 10px 0 10px;
  flex-shrink: 0;
  &.active {
    transition: all 200ms ease-in-out !important; // we want this faster
    width: $menu-width-open;
    padding: 0 20px 0 20px;
  }
}

// .table-header {
//   font-family: $poppins;
//   color: $text-accent;
//   font-weight: bold;
//   text-transform: uppercase;
//   margin: 2.5%;
// }

// .image-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 2.5%;
//   margin-left: 2.5%;
//   margin-right: 2.5%;
//   margin-bottom: 5%;

//   img {
//     width: 25%;
//     height: auto;
//   }
// }

// .table-header {
//   margin: 0;
//   padding: 0;
//   margin-right: auto;
// }

// .text-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 2.5%;

//   p {
//     width: 50%;
//     text-align: center;
//     font-family: $roboto;
//     margin-top: 15px;
//   }
// }


