@import '../../style/variables.scss';


.menu {
  width: $menu-width-closed;
  background: $text-accent;
  color: $white;
  transition: all 200ms ease-in-out !important; // we want this faster
  padding: 0 10px 10px 10px;
  flex-shrink: 0;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-content: center;

  &.active {
    transition: all 200ms ease-in-out !important; // we want this faster
    width: $menu-width-open;
    padding: 0 20px 10px 20px;
  }

  .nav-container{
    justify-self: end;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .option-button {
      width: 100%;
      margin-bottom: 10px;
      width: 100%;
      height: calc(68px - 20px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: $purple-light;
      border-radius: 5px;
      cursor: pointer;

      p {
        color: $text-accent;
        font-family: $poppins;
        font-weight: 600;
        font-size: 18px;
      }
      space {
        width: 10%;
      }

      &:hover {
          filter: opacity(90%);
      }
    }

    a {
      color:$white;
      text-decoration: none;

      &:hover{
        cursor: pointer;
        color:$med-grey;
      }
    }
  }
}

// .table-header {
//   font-family: $poppins;
//   color: $text-accent;
//   font-weight: bold;
//   text-transform: uppercase;
//   margin: 2.5%;
// }

// .image-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 2.5%;
//   margin-left: 2.5%;
//   margin-right: 2.5%;
//   margin-bottom: 5%;

//   img {
//     width: 25%;
//     height: auto;
//   }
// }

// .table-header {
//   margin: 0;
//   padding: 0;
//   margin-right: auto;
// }

// .text-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 2.5%;

//   p {
//     width: 50%;
//     text-align: center;
//     font-family: $roboto;
//     margin-top: 15px;
//   }
// }


