@import '../../style/variables.scss';

.table-header {
  font-family: $poppins;
  color: $text-accent;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2.5%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;

  img {
    width: 25%;
    height: auto;
  }
}

.table-header {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5%;

  p {
    width: 50%;
    text-align: center;
    font-family: $roboto;
    margin-top: 15px;
  }
}

.plan-container {
  margin-bottom: 1.75%;
  margin-left: 1.75%;
  margin-right: 1.75%;
  background: $gray-1;
  border-radius: 2px;
  height: 70px;

  display: flex;

  a {
    justify-content: center;
    align-self: center;
    margin-left: 2.5%;
    margin-right: auto;
  }

  p {
    margin: 0;
    padding: 0;
    color: $text-accent;
    font-family: $poppins;
    font-size: 24px;
  }

  .delete-button-container {
    justify-content: center;
    cursor: pointer;
    align-self: center;
    margin-right: 2.5%;

    button {
      cursor: pointer;
      background: $white;
      height: 40px;
      width: 120px;
      box-shadow: $box-shadow-button;
      border-radius: 32px;
      border: none;
      font-family: $roboto;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
    }
  }
}

.button-container-primary {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: linear-gradient(90deg, #5797FD 7.64%, rgba(255, 255, 255, 0) 95.1%), #8901FB;
    box-shadow: $box-shadow-button;
    border-radius: 32px;
    width: 165px;
    height: 55px;

    p {
      font-family: $roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      color: $white;
      padding: 0;
      margin: 0;
    }
  }
}
