@import '../../style/variables.scss';

.title-box {
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  // height: 100%;

  .hold-left {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-end;
  }


  .course-left {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .spacer {
      margin-left: 5px;
      padding-left: 5px;
      border-left-style: solid;
      border-width: 1px;
      height: 15px;
  }

  .course-right {
      font-size: 10px;
      line-height: 16px; // this is to make it the same height as the DEPT  part
      text-align: start;
      overflow-x: hidden;
      overflow-y: auto;
      display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      align-items: center;

      .name {
        height: 100%;
        overflow: hidden; 
        text-overflow: ellipsis;
        margin-right: 5px;
      }
  }

  .supplementary-course {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    width:100%;
    max-width: 100%;
    justify-content: space-between;

    .likelyTerms {
      flex: 1;
    }

    .genEds {
      display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      overflow: auto;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        display: none !important;
      }
      &::-webkit-scrollbar-thumb:hover {
        display: none !important;
      }
      
      .distribs {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex:1;
        align-items: center;
        margin-right: 10px;
      }
      .wcs {
        flex:1;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        align-items: center;
      }
    }

    .icon-container {
      display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      align-items: center;
      margin-left: 10px;

      .course-action-icon {
        flex: 1;
        height: 18px;

        &:hover {
          filter: brightness(180%);
          animation: jiggle 0.3s ease-in-out;
        }
      }
    }
  }

  .icon {
    height: 18px;
    margin-right: 5px;
  }
}