@import '../../style/variables.scss';

.title-box {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  .course-left {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .spacer {
      margin-left: 5px;
      padding-left: 5px;
      border-left-style: solid;
      border-width: 1px;
      height: 15px;
  }

  .course-right {
      font-size: 10px;
      text-align: start;
      line-height: 100%;
      overflow-x: hidden;
      .name {
        flex:1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
      }
  }

  .genEds {
    display: flex;
    align-items: center;
    .icon {
      height: 18px;
      margin-right: 5px;
    }
    .distribs {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    .wcs {
      display: flex;
      align-items: center;

    }

  }

  .icon-container {
    display: flex;
    align-items: right;
    position: absolute;
    top: 20%;
    right: 5%;
    bottom: 20%;
    // height: 100%;

    .icon {
      height: 90%;
    }
  }
}
