@import '../sidebar.scss';

.bookmarks {    
    &.active .bookmarks-header {
        font-weight: bold;
    }

    .bookmarks-header {
        margin: 0;
        align-self: flex-start;
        font-size: $header-size;
        font-weight: normal;
    }

    .bookmarked-courses-list {
        margin-top: 20px;
        width: 100%;
    } 
}