/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

.reset-password-email-container {
  font-family: 'Poppins', sans-serif;

  width: 800px;
  margin: 20px auto;

  text-align: left;
}

.title {
  color: #574966;
  font-size: 48px;
  font-weight: 600;
}

.subtitle {
  color: #574966;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;
}

.body {
  color: #000000;
  margin-bottom: 10px;
}

.click-link {
  color: #518FF5;
  border-color: red;
  border-width: 2px;
  border-radius: 4px;
  margin-bottom: 50px;
}

.copyright {
  color: #574966;
}