@import '../../../style/variables.scss';
@import '../sidebar.scss';

.requirements {
    &.active .pane-header .pane-title {
        font-weight: bold;
        width: 100%;
    }

    .pane-header {

        .pane-title {
            align-self: flex-start;
            font-size: $header-size;
            margin: 0;
            font-weight: 600;
        }
        .requirements-toggle {
            display: flex;   

            .toggle {
                background: none;
                font-size: 12px;
                color: $med-grey;
                margin-left: 7px;
    
                &.active {
                    border-bottom: 1px solid $black;
                    color: $black;
                    outline: none;
                }
            }
        }

    }

    .reqs-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
        margin-bottom: 20px;
        width: 100%;

        .genEd-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            .checkbox {
                width: 20px;
            }
            .genEd-name {
                font-size: 14px;
                flex-basis: 60%;
            }
            .icon {
                width: 36px;
            }


        }
    }

    .no-major {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .enroll-button {
            background: linear-gradient(90deg, #5797FD 7.64%, rgba(255, 255, 255, 0) 95.1%), #8901FB;
            /* blue-drop-shadow */
            box-shadow: 0px 4px 12px rgba(30, 67, 139, 0.4);
            border-radius: 32px;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                font-family: $poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }
}