@import '../../style/variables.scss';

$line-height: 40px;
$search-types-height: 100px;
$search-box-container-height: 120px;
$search-box-container-bottom-margin: 40px;
$search-height: 50px;
$results-header-height: 40px;
$scroll-container-height: 180px;

.search-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: $search-types-height;

    .search-type-button {
        height: 48px;
        margin-right: 16px;
        font-size: 18px;
        font-family: $roboto;
    }

    .searchLink {
        color: #000000;

        &.active {
            font-weight: bold;
            border-bottom: 3px solid #000000;
        }
    }
}

.search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $search-box-container-height;
    margin-bottom: $search-box-container-bottom-margin;

    .search-input {
        height: $search-height;
        flex-basis: 40%;
        margin-right: 20px;
        padding-left: 25px;
        border: none;
        background-color: #F2F2F2;
    }

    .search-icon {
        height: $search-height;
    }
}

.no-results {
    display: flex;
    justify-content: center;
    font-family: $roboto;
}

.results {
    display: flex;
    justify-content: center;
    line-height: $line-height;


    .results-container {
        width: 80%;

        .headers-row {
            border-bottom: 1px dashed #000000;
            line-height: $results-header-height;
            height: $results-header-height;
            display: flex;
            flex-direction: row;

            .headers-col {
                margin: 0 1%;

                &.name {
                    width: 10%;
                }
        
                &.description {
                    width: 50%;
                }
    
                &.period {
                    width: 5%;
                }
    
                &.median {
                    width: 5%;
                }
    
                &.distribs {
                    width: 10%;
                    margin-left: 10%;
                }
        
                &.centered {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .results-display-container {
            height: calc(100vh 
            - (#{$nav-height} + #{$search-types-height} + #{$search-box-container-height} + #{$search-box-container-bottom-margin} + #{$results-header-height})
            - 5vh);

            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.results-with-filters {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .results {
        width: 90%;

        .results-container {
            width: 100%;
            margin-left: 5%;
        }
    }

    .filters {
        width: 15%;
        background-color: #F6F6F6;
        padding: 32px;
        margin-right: 20px;
        font-weight: 300;

        p {
            font-size: 13px;

            &.filters-header {
                font-size: 24px;
            }
        }
    }
}

.scroll-prompt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $scroll-container-height;
    margin-top: calc(100vh 
            - (#{$nav-height} + #{$search-types-height} + #{$search-box-container-height} + #{$search-box-container-bottom-margin})
            - #{$scroll-container-height});
}