@import '../../style/variables.scss';

.bucket {
    background: $gray-1;
    color:#574966;
    border-color: green;
    min-width: 303px;
    padding: 20px;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    align-items: center;

    .bucket-name {
        align-self: flex-start;
        font-family: $poppins;
        font-size: 18px;
        margin: 0 0 20px;
    }

    .course-list {
        width: 100%;
    }
}

.bucketCourse {
    &:hover{
        filter: brightness(90%);
    }
}
