#error-message {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
}

#error-box {
    height: 75vh;
    width: 75vw;
    background: white;
}