@import '../../style/variables.scss';

.app-container {
    display: flex !important;
    justify-content: center !important;
    .professor {
        display: flex;
        flex-direction: column;
        width: 900px;
        align-self: center;
        margin-top: 30px;
    
        .professor-name {
            font-size: 32px;
            font-weight: 700;
            color: $text-accent;
        }

        .professor-name-sub {
            font-size: 14px;
            color: $gray-6;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;

            .professor-course {
                margin:5px;
                padding:5px;
                cursor: pointer;
                border-bottom:1px solid $purple-primary;

                &:hover{
                    color:black;
                }
            }

        }

        .professor-reviews {
            display: flex;
            flex-direction: column;
    
            .professor-review {
                margin-bottom: 30px;
    
                .review-header {
                    color: $gray-6;
                    font-size: 18px;
                }
    
                .review-body {
                    font-size: 14px;
                    color: $text-accent;
                    line-height: 24px;
                }
            }
        }
    }
}
