@import '../../style/variables.scss';
@import '../draggableCourse/draggableCourse.scss';
@import '../../containers/term/term.scss';


.phantom-course {
    background: $gray-2;
    border-radius: $course-border-radius;
    width: $course-width-large;
    min-height: $course-height;
    animation: pulse 0.5s infinite;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div {
        &.error{
            color: $error !important;
            // border: $error 1px solid !important;
        }
        &.warning {
            color: $warning !important;
            // border: $warning 1px solid !important;
        }
    
        &.good {
            color: $success;
            // border: $success 1px solid;
        }
    }
}