@import "../../style/variables.scss";

$content-height: 100vh;
$content-divide: 100px;
$content-padding-top: 25vh;

.container {
    flex: 1;
    width: 100%;
    height: $content-height;
    display: flex;

    .left {
        width: 63%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        background: $gradient;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
        padding-top: $content-padding-top;

        .intro {
            width: 600px;
            display: flex;
            flex-direction: column;
            color: white;

            .line1 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            .line2 {
                font-size: 24px;
                font-weight: 500;
            }
            .showcase {
                width: 85%;
                .feature {
                    display: flex;
                    align-items: center;
                    margin-top: 25px;
                    .feature-icon {
                        margin-right: 20px;
                        max-width: 75px;
                    }
                    .feature-text {
                        font-size: 16px;
                    }
                }

            }
        }

        .pine {
            display: none;
            align-self: flex-end;
            width: 120px;
            height: 97px;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $content-padding-top;

        // justify-content: center;

        .scroller {
            border-radius: 100%;
            text-align: center;
            background: #518FF5;
            box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
            width: 32px;
            height: 32px;

            display: none;
            justify-content: center;
            align-content: center;
        }
    }
}

.info {
    background:$white;
    width:75%;
    margin:0 auto 0 auto;

    display: flex;
    flex-direction: column;
    
    .section {
        margin-top:$content-divide;
        display: flex;
        flex-direction: column;

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            text-align: center;
            color:#574966;
        }

        img {
            flex: 1;
        }

        .content {
            flex: 1;
            display: flex;

            .textContainer {
                display: flex;
                flex-direction: column;
                align-self:center;

                .text{
                    color: #574966;
                    text-align: left;
                    font-family: Poppins;
                    font-style: normal;

                    .textHeader {
                        font-size:36px;
                    }

                    .body {
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }

        .row {
            flex:1;
            display: flex;
            justify-content:space-between;
            margin-bottom:50px;;

            .text{
                width:600px;
                color: #574966;
                text-align: left;
                font-family: Poppins;
                font-weight:300;
                font-style: normal;

                &:first-child{
                    text-align:right;
                }

                &.allLeft{
                    text-align:left !important;
                }

                .textHeader {
                    font-size:36px;
                }

                .body {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
}

.footer {
    flex:1;
    width:100%;
    height:365px;

    display:flex;
    margin-top:$content-divide;

    .left {
        flex:1;
        display: flex;
        flex-direction: column;
        background: linear-gradient(215.91deg, #5897FD -11.34%, rgba(255, 255, 255, 0) 81.43%), #733DF9;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
        padding:50px;
        justify-content: center;
        align-content: center;

        .content {
            text-align: center;

            p {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;

                color:$white;

                &.copy {
                    font-weight: 300;
                }
            }
        }
    }

    .right {
        flex:1;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}