@import '../../style/variables.scss';

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    .plan {
        width: 100%;
        margin-bottom: 10px;
        height: calc(68px - 20px); // CSS-DEF the 68px refers to $menu-width-closed and the 20px refers to the 10px margins on either side.. this is to make it square
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $purple-light;
        border-radius: 5px;
        filter: opacity(40%);
        cursor: pointer;

        &:hover {
            filter: opacity(100%);
        }

        &.current {
            filter: opacity(100%);
            padding: 5px;
            border: 2px $purple-light solid;
        }

        .plan-letter {
            color: $text-accent;
            font-family: $poppins;
            font-weight: 600;
            font-size: 18px;
        }

    }

    #newPlanButton {
        width: 100%;
        height: calc(68px - 20px); // CSS-DEF the 68px refers to $menu-width-closed and the 20px refers to the 10px margins on either side.. this is to make it square
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 1px $purple-light dotted;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: $purple-light-10;
        }
        p {
            color: $purple-light;
            font-family: $poppins;
            font-weight: 300;
            font-size: 18px;
        }

    }
    #noMorePlans {
        width: 100%;
        height: calc(68px - 20px); // CSS-DEF the 68px refers to $menu-width-closed and the 20px refers to the 10px margins on either side.. this is to make it square
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
        p {
            color: $purple-light;
            font-family: $poppins;
            font-size: 12px;
            font-weight: 300;
        }
    }
}

.no-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 380px;
        height: 380px;
        margin-top: 100px;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        text-align: center;
        color: #000000;
        width: 750px;
        margin-top: 20px;
    }
}

// .loading-plan-container {
//   justify-self: end;
//   display:flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;

  .loading-spinner {
    display: flex;
    border: 7px solid $white;
    border-radius: 50%;
    border-top: 7px solid $text-accent;
    width: 30px;
    height: 30px;
    
    -webkit-animation:spin 1s ease infinite;
    -moz-animation:spin 1s ease infinite;
    animation:spin 1s ease infinite;

    &.text {
      background: red;
    }
  }

  @keyframes spin { 
    0% { -moz-transform: rotate(0); -webkit-transform: rotate(0); transform:rotate(0); }
    10% { -moz-transform: rotate(60); -webkit-transform: rotate(60); transform:rotate(60); }
    50% { -moz-transform: rotate(180); -webkit-transform: rotate(180); transform:rotate(180); }
    90% { -moz-transform: rotate(300); -webkit-transform: rotate(300); transform:rotate(300); }
    100% { -moz-transform: rotate(360); -webkit-transform: rotate(360deg); transform:rotate(360deg); }
  }
// }
