@import '../../style/variables.scss';

.new-plan-content {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;

    .description {
        font-size: 12px;
        color: $text-accent;
        margin-top: 10px;
    }

    .new-plan-name {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid $gray-5;
        transition: border 0.1s linear;
        font-family: $roboto;
        font-size: 12px;
        line-height: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        
        &:focus {
            border: 2px solid $blue-primary;
            outline: none;
        }
    }
}