.planPane {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.plan {
    margin-top: 20px;
}

.plan:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.box{
    text-align: center;
    margin-top: 150px;
}
