@import '../../style/variables.scss';

.hourSelector {
  height: 30px;
  width: 30px;
  margin: 0 0 5px 4px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  &:focus {
    outline: none;
  }

  &:hover {
    background: rgba(0,0,0,0.10);
    transition: 0.3s;
  }
}





select {
  //Source: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element
  -webkit-appearance: none;
  -moz-appearance: none;

  background: rgba(0,0,0,0);
  color: white;
  font-size: 15px;
  font-family: Poppins;
  text-align-last: center;
  transition: 0.3s;

  &.past {
    color: $blue-primary;
  }
}
