#planButton {
  background: linear-gradient(90deg, #5797FD 7.64%, rgba(255, 255, 255, 0) 95.1%), #8901FB;
box-shadow: 0px 6px 12px rgba(153, 153, 153, 0.25);
border-radius: 32px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
text-align: center;

color: #FFFFFF;
}

#planButton:hover {
  filter: brightness(120%);
}

.container {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'column';
}

img {
  width: '200px';
  height: '200px';
  margin-top: '100px';
}

img > p {
  font-family: 'Roboto';
  font-style: 'normal';
  font-weight: 'normal';
  line-height: 'normal';
  font-size: '18px';
  text-align: 'center';
  color: '#000000';
  width: '350px';
  margin-top: '20px';
}

.pane {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'column';
  margin-top: '20px';
}