select {
    //Source: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 50px;

    background: rgba(0,0,0,0);
    border-style: none;
    color: white;
    font-size: 18px;
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}
