select {
    //Source: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 30px;
    width: 40px;

    background: rgba(0,0,0,0);
    border-style: none;
    color: black;
    font-size: 16px;
    text-align-last: center;
    transition: 0.3s;
}

select:focus {
    outline: none;
}

select:hover {
    background: rgba(0,0,0,0.10);
    transition: 0.3s;
}