@import "../../style/variables.scss";

.tutorial-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .skip-tutorial {
    cursor: pointer;

    width: 8vw;
    height: 2vw;

    margin-bottom: 1.5vw;
    margin-top: 1vw;

    position: relative;
    left: 90.5vw;
    top: 0;

    background: none;
    color: $gray-5;

    transition: color $transition-duration;
  }

  .skip-tutorial:hover {
    color: $blue-primary;
    transition: color $transition-duration;
  }
  .arrow-container {
    background-image: url('../../style/gradient-background.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .tutorial-arrow {
      &.left {
        margin: 0 4% 0 auto;
      }

      &.right {
        margin: 0 auto 0 4%;
      }

      &.disabled {
        opacity: .4;
      }
    }

    .tutorial-content {
      width: 900px;
      height: 100%;
      
      .title {
        text-align: center;
        font-size: 60px;
        color: $white;
        font-weight: 500;
        margin: 20px auto 0;
      }
    
      .subtitle {
        text-align: center;
        font-size: 24px;
        color: $white;
        font-weight: 300;
        margin: 0 auto 20px;
      }
      
      .rowContainer {
        width: inherit;
        display: flex;
        flex-direction: row;
    
        align-content: center;
        justify-content: center;
      
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;

        div .tutorial-interests-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

        .tutorial-selectors {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin: 20px 0;

          .tutorial-select {
            text-align: center;
            font-size: 16px;

            background: none;
            color: $white;
            border: solid $white 1.5px;
            border-radius: 4px;

            width: 180px;
            height: 48px;
            padding: 4px 8px;

            &:hover {
              cursor: pointer;
              background: $purple-light-10;
              border: solid $white 2px;
            }
          }
        }

        form {
          // display: flex;
          // flex-direction: column;
          position: relative;
          display: inline-block;

          .dropdown-content {
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: -18px;

            p {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              background-color: $gray-5;

              &:hover {
                cursor: pointer;
                background-color: $gray-6;
              }
            }
          }

          width: 100%;
          margin-top: 40px;
            
          .tutorial-input {
            width: 100%;
            height: 48px;
            margin: 0 auto 18px auto;
            padding: 10px 16px;
            border-radius: 4px;

            color: $white;
            font-size: 16px;
            background-color: rgba($color: #666666, $alpha: .24);
            font-size: 1em;

            &.error {
              border: $error solid 2px;
            }
          }

          .contributor-modify-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .contributor-modify {
              cursor: pointer;
              color: $text-accent;

              &.inactive {
                opacity: .4;
                cursor: default;
              }

              color: $white;
              margin: 0 12px;
            }
          }
        }
      
        .graphic {
          display: flex;
          width: 29vw;
          margin-right: 1vw;
          max-height: 100%;
    
          position: relative;
          object-fit: contain;
    
          justify-content: right;
          align-items: flex-start;
    
          #test-pane {
            box-shadow: $tablet-box-shadow;
            height: 500px;
            display: flex;
            width: $sidebar-width;
    
            overflow: scroll;
          }
        }
      
        .paragraph {
          width: 29vw;
          margin-left: 1vw;
          text-align: left;
          position: relative;
          font-size: 18px;
      
          top: 0vh;
        }
      }
    }
  } 
}