@import "../../style/variables.scss";

$content-height: calc(100vh);
$content-divide: 100px;
$content-padding-top: 25vh;

//TODO: Add styling to thingy
.tutorial-container {
  // width: 100%;
  height: 97vh;
  display: flex;
  flex-direction: column;

  .skip-tutorial {
    cursor: pointer;

    width: 8vw;
    height: 2vw;

    margin-bottom: 1.5vw;
    margin-top: 1vw;

    position: relative;
    left: 90.5vw;
    top: 0;

    background: none;
    color: $gray-5;

    transition: color $transition-duration;
  }

  .skip-tutorial:hover {
    color: $blue-primary;
    transition: color $transition-duration;
  }
  .arrow-container {
    background-image: url('../../style/gradient-background.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #left-arrow {
      margin: 0 4% 0 auto;
    }

    #right-arrow {
      margin: 0 auto 0 4%;
    }

    .tutorial-content {
      height: 100%;
      
      .title {
        text-align: center;
        font-size: 60px;
        color: $white;
        font-weight: 500;
        margin: auto;
      }
    
      .subtitle {
        text-align: center;
        font-size: 24px;
        color: $white;
        font-weight: 300;
        margin: auto;
      }
      
      .rowContainer {
        width: 60vw;
        height: 48vh;
        display: flex;
        flex-direction: row;
    
        align-content: center;
        justify-content: center;
      
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
      
        .graphic {
          display: flex;
          width: 29vw;
          margin-right: 1vw;
          max-height: 100%;
    
          position: relative;
          object-fit: contain;
    
          justify-content: right;
          align-items: flex-start;
    
          #test-pane {
            box-shadow: $tablet-box-shadow;
            height: 500px;
            display: flex;
            width: $sidebar-width;
    
            overflow: scroll;
          }
        }
      
        .paragraph {
          width: 29vw;
          margin-left: 1vw;
          text-align: left;
          position: relative;
          font-size: 18px;
      
          top: 0vh;
        }
      }
    
      .button-container {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
    
        .previous {
          cursor: pointer;
    
          width: 32vw;
          height: 5vh;
    
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2vh;
    
          background-color: #FFFFFF;
          /* blue-drop-shadow */
          box-shadow: 0px 4px 12px rgba(30, 67, 139, 0.4);
          border-radius: 32px;
    
          font-size: 18px;
          font-style: bold;
          color: $gray-6;
    
          transition: background-color $transition-duration, color $transition-duration;
    
          // Fix this here
          color: linear-gradient(236.64deg, #8901FB 37.26%, rgba(255, 255, 255, 0) 81.22%), #3A84FF;
        }
    
        .previous:hover {
          background-color: $gray-5;
          color: white;
          transition: background-color $transition-duration, color $transition-duration;
        }
    
        .next {
          cursor: pointer;
    
          width: 32vw;
          height: 5vh;
    
          margin-left: auto;
          margin-right: auto;
          margin-top: 2vh;
          margin-bottom: 2vh;
    
          background-color: #FFFFFF;
          /* blue-drop-shadow */
          box-shadow: 0px 4px 12px rgba(30, 67, 139, 0.4);
          border-radius: 32px;
    
          font-size: 18px;
          font-style: bold;
          color: $blue-primary;
    
          transition: background-color $transition-duration, color $transition-duration;
    
          // Fix this here
          color: linear-gradient(236.64deg, #8901FB 37.26%, rgba(255, 255, 255, 0) 81.22%), #3A84FF;
        }
    
        .next:hover {
          background-color: $blue-primary;
          color: white;
          transition: background-color $transition-duration, color $transition-duration;
        }
      }
    }
  } 
}