<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">DPlanner</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/new">something on nav bar</a></li>
    </ul>
  </div>
</nav>
