@import '../../style/variables.scss';

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);

    .dialog-container {
        background: $background;
        box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;

        &.sz-small {
            min-width: 20%;
            min-height: 25%;
        }

        &.sz-medium {
            min-width: 30%;
            min-height: 40%;
        }

        &.sz-large {
            width: 50%;
            height: 70%;
            .dialog-header {
                .dialog-title {
                    font-size: 32px;
                }
            }
        }

        .dialog-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            .dialog-title {
                font-family: $poppins;
                font-size: 24px;
                color: $text-accent;
                font-weight: 600;
                margin: 0;
            }

            .close-button {
                background: none;
                border: none;
                padding: 0;
            }
        }

        .ok-button {
            background: #FFFFFF;
            box-shadow: 0px 3.028px 9.084px rgba(30, 67, 139, 0.4);
            border-radius: 24.224px;
            padding: 5px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .button-text {
                font-family: $poppins;
                font-weight: bold;
                font-size: 14px;
                color: rgba(0,0,0,0);
                background: linear-gradient(to right, #5797FD, #8901FB);
                background-clip: text;
                text-transform: uppercase;
            }
        }
    }
}
