@import '../../style/variables.scss';

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);

    .dialog-container {
        background: $background;
        box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;

        &.sz-small {
            min-width: 300px;
        }

        &.sz-medium {
            min-width: 500px;
        }

        &.sz-large {
            width: 830px;
            max-height: 600px;
            .dialog-header {
                .dialog-title {
                    font-size: 32px;
                }
            }
        }

        .dialog-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .dialog-title {
                font-size: 24px;
                color: $text-accent;
                font-weight: 600;
            }

            .close-button {
                align-self: flex-start;
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }

        .ok-button {
            background: $text-accent;
            padding: 5px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            cursor: pointer;

            .button-text {
                font-family: $poppins;
                font-weight: 500;
                font-size: 14px;
                color: $purple-light;
                // background: linear-gradient(to right, #5797FD, #8901FB);
                background-clip: text;
                // text-transform: uppercase;
            }

            &:hover {
                filter: brightness(150%); 
            }
            &:active {
                background: $purple-light;
                border: 1px $text-accent solid;
                .button-text {
                    color: $text-accent;
                }
            }

        }
    }
}
