@import '../../style/variables.scss';

$plan-header-height: 60px;
$plan-header-margin: 36px;
$bottom-margin: 20px;
$sidebar-margin-left: 30px;

.dashboard {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: stretch;
    height: 100vh;

    .welcome-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        * {
            display: flex;
            justify-content: center;
            font-family: $poppins;
            color: $text-accent;
        }
        .welcome-title {
            font-size: 48px;
            font-weight: 700;
        }
        .welcome-subtitle {
            font-size: 24px;
            font-weight: 400;
        }
        // .newPlanButton {
        //     display: flex;
        //     justify-content: center;
        //     font-size: 24px;
    
        //     background: linear-gradient(90deg, #5797FD 7.64%, rgba(255, 255, 255, 0) 95.1%), #8901FB;
        //     box-shadow: 0px 6px 12px rgba(153, 153, 153, 0.25);
        //     height: 50px;
        //     border-radius: 100px;
        //     color: $white;
        // }
    }


            
    .plan-content {
        box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: calc(100vw - #{$menu-width-closed}); // CSS-DEF the 68px refers to $menu-width-closed
        max-height: 100vh;
        background: $background;
        
        .plan-side {
            margin-left: $sidebar-margin-left;
            display: flex;
            flex-direction: column;
            .plan-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                position: relative; // CSS-DEF this is to position the .accent bar, since that is position: absolute
                flex-shrink: 0;
                .plan-name {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;
                    font-size: 24px;
                    color: $text-accent;
                    margin: 18px 0 18px 0;
                }
                .settings-button {
                    background: $background;
                    width: 16px;
                    cursor: pointer;
                }               
            }
        }

        .plan-grid {      
            flex-grow: 1;      
            overflow-x: hidden;
            padding-left: 30px; // the reaosn why this has to be padding-left instead of margin-left is because otherwise, the box-shadow gets cut-off
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // max-width: 1012px; // CSS-DEF this number is dependent on the sum of all tiles and their margins
            max-width: calc(100vw - #{$menu-width-closed} - #{$sidebar-width} - #{$sidebar-margin-left}); // CSS-DEF this is 100vw - $menu-width-closed - $sidebar-width - $sidebar-margin
            overflow-y: scroll !important;
            padding-top: 50px; // CSS-DEF this depends on the sum of the .plan-name height and the 36px margins
            
            .plan-row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
        
}
