@import '../../../style/variables.scss';
@import '../sidebar.scss';

.search {
    .pane-header {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: left;

        .option-menu {
            z-index: 100;
            background: $white;
            box-shadow: $tablet-box-shadow;
            display: none;
            flex-direction: column;
            position: absolute;
            right: -100px;
            top: 0px;

            &:hover {
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            }
            .option-menu-option {
                height: 20px;
                font-size: 14px;
                color: $text-accent;
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
                justify-content: flex-start;
                align-items: center;
                padding-right: 14px;
                .option-menu {
                    display: none;
                }
                &:hover {
                    filter: brightness(90%);
                    .option-menu {
                        background: $white;
                        box-shadow: $tablet-box-shadow;
                        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                        display: -ms-flexbox;  /* TWEENER - IE 10 */
                        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
                        flex-direction: column;                    
                    }
                }
            }
        }

        .search-config-button {
            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            align-items: center;
            cursor: pointer;
            &:hover {
                filter: brightness(90%);
                .option-menu {
                    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                    display: -ms-flexbox;  /* TWEENER - IE 10 */
                    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
                }
            }
            .search-config-icon {
                margin: 0 2px;
                height: calc(#{$header-size} + 5px);
              }
        }

        .search-input {
            font-size: $header-size;
            width: 70%;
            color: $text-accent;
            background: none;
            outline: none;
            margin: 0 auto 0 4%;

            &.small {
              width: 60%;
            }

            &::placeholder {
                color: $gray-3;
            }
            &:focus {
                border-bottom: 1px solid $blue-primary;
            }
        }
    }

    .pane-content {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;
        align-items: stretch;
        overflow-y: auto;

        .sort-picker {
            font-size: 12px;
            color: $gray-6;;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                background: rgba(0,0,0,0.10);
                transition: 0.3s;
            }
        }

        .search-results {
            width: 100%;
            overflow: visible;

            .result-row {
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
                flex-direction: column;
                align-items: stretch;
            }
            .no-search {
                display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 300px;
            }
        }
    }
}
