@import '../../../style/variables.scss';
@import '../sidebar.scss';
@import '../../../style/variables.scss';

.search {
    &.active {
        height: auto !important;
        max-height: 500px;
    }  

    .pane-header {

        .dropdown-icon {
          height: calc(#{$header-size} + 5px);
        }

        .search-input {
            font-size: $header-size;
            width:70%;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.24);
            background: none;
            outline: none;

            &::placeholder {
                color: rgba(0, 0, 0, 0.24);
            }
            &:focus {
                border-bottom: 1px solid $blue-primary;
            }
        }

        .search-icon {
            height: calc(#{$header-size} + 2px);
        }
    }



    .pane-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow-y: scroll;
        padding: 10px;

        
        overflow-x: visible;
        padding-right: 10px;
        .filters {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            margin-bottom: 10px;
            .gened-picker {
                font-size: 12px;
                color:$gray-6;;
                margin-bottom: 5px;
                &:hover {
                    background: rgba(0,0,0,0.10);
                    transition: 0.3s;
                }
            }
        }
        .search-results {

        }
        .no-search {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100px;
        }
    }
}
