@import '../sidebar.scss';

.search {
    .search-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: calc(#{header-size} + 10px);

        .search-icon {
            height: calc(#{$header-size} + 5px);
        }

        .search-input {
            font-size: $header-size;
            margin: 0 0 0 15px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.24);
            background: none;
            border: none;
            outline: none;

            &::placeholder {
                color: rgba(0, 0, 0, 0.24);
            }
        }
    }
}