@import '../../style/variables.scss';

.react-tags__search-input {
    max-width: 100%;
}

.filter-content {
    padding: 30px 0;
    width: 100%;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: space-between;

    .choice {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: space-between;
        align-items: center;
        max-width: 120px;

        &.choice-next-term {
            width: 120px !important;
        }

        .choice-label {
            margin-right: 18px;

            &.bold {
                font-weight: bold;
            }
        }
    }

    .filter-list {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;
    }
    .clear-button {
        background: $text-accent;
        padding: 5px 20px;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        cursor: pointer;

        .clear-button-text {
            font-family: $poppins;
            font-weight: 500;
            font-size: 14px;
            color: $purple-light;
            // background: linear-gradient(to right, #5797FD, #8901FB);
            background-clip: text;
            // text-transform: uppercase;
        }

        &:hover {
            filter: brightness(150%); 
        }
        &:active {
            background: $purple-light;
            border: 1px $text-accent solid;
            .button-text {
                color: $text-accent;
            }
        }
    }
}

.icon {
    margin-right: 5px;
}

/// For The Tags

.react-tags {
    width: 200px;
    
    .react-tags__search {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;

        .react-tags__search-wrapper {
            flex: 1;
            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            margin-bottom: 10px;

            input {
                padding: 10px;
                background: $white;
                border: 1px solid $gray-5;
                border-radius: 12px;
                flex: 1;
            
                &:hover {
                    cursor: pointer;
                    border: 1.5px solid $blue-primary;
                }
            }
        }

        .react-tags__suggestions {
            flex: 1;

            ul {
                list-style: none;
            }
    
            li {
                mark {}
                :hover{}
                .is-active{}
                .is-disabled{}
            }
        }
    }
    
    .react-tags__selected {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: space-between;
        flex-wrap: wrap;
        
        .react-tag-element {
            margin-bottom: 10px;
            margin-right: 10px;

            img:nth-child(3) {
                &:hover {
                    filter: brightness(180%);
                    animation: jiggle 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }
}